/GradeBook/nbproject/private/
/GradeBook/build/
/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/Exercise/nbproject/private/
/Mover/nbproject/private/
/Mover/build/
/Java-Programming-Netbeans-Metro-UI-Design-Material-UI-Design-Jtable-JFreeCharts-Moder-UI-master/nbproject/private/
/Java-Programming-Netbeans-Metro-UI-Design-Material-UI-Design-Jtable-JFreeCharts-Moder-UI-master/build/
/Copy/nbproject/private/
/Copy/build/
/OSLEC/target/
/AreaTriangulo/nbproject/private/
/AreaTriangulo/build/
/Estoque/nbproject/private/
/Estoque/build/
/Estoque/dist/
/TiposGenericos/nbproject/private/
/TiposGenericos/build/
/ExemploGenerics/nbproject/private/
/ExemploGenerics/build/
